---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: UTF-8
      string: name=MyString&id=MyString&amount=999&interval=month&currency=usd
    headers:
      Authorization:
      - Bearer sk_test_wNHtT2A0mi1npGsyqsHAhtyw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "MyString",
          "object": "plan",
          "amount": 999,
          "created": 1474997506,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "name": "MyString",
          "statement_descriptor": null,
          "trial_period_days": null
        }
  recorded_at: Tue, 27 Sep 2016 17:31:46 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_wNHtT2A0mi1npGsyqsHAhtyw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "MyString",
              "object": "plan",
              "amount": 999,
              "created": 1474997506,
              "currency": "usd",
              "interval": "month",
              "interval_count": 1,
              "livemode": false,
              "metadata": {},
              "name": "MyString",
              "statement_descriptor": null,
              "trial_period_days": null
            }
          ],
          "has_more": true,
          "url": "/v1/plans"
        }
  recorded_at: Tue, 27 Sep 2016 17:31:46 GMT
recorded_with: VCR 3.0.3
